h2{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right,#9AEBA3,#DAFDBA);
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #9AEBA3 ;
}
h1{
    color:#45C4B0 ;
}
h2{
    color: #13678A;
}